/*Bootstrap Overrides*/

.navbar-light .navbar-nav .nav-link {
    color: #343a40;
    font-weight: bolder;
    border-bottom: transparent 2px solid;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    border-bottom: #fdd000 2px solid;
    font-weight: bolder;
    color: #343a40;
}

.navbar-dark .navbar-brand {
    color: #fdd000;
}

.bg-darkGray{
    background-color: #f2f2f2;
}

.modal-footer{
    justify-content: flex-start;
}

body{
    background-color: #343a40;
}

.logButton{
    background-color: #fdd000;
    color: #343a40;
    border-color: transparent;
    cursor: pointer;
}

.logButton:hover{
    background-color: #66717d;
    border: #ffffff .05em solid;
    color: #ffffff;
}

.bodyPanelStyle{
    background-color: #f2f2f2;
    color: #343a40;
}

.carouselText{
    background-color: #fff;
    opacity: .5;
}

.carFont{
    opacity: 2;
}

.social{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social li{
    float: left;
    display: inline-block;

}

.fav_style{
    font-size: 24px;
}

.social li a{
    text-decoration: none;
    color: #343a40;
}

.terms{
    color: #74838c;
    font-weight: bolder;
}



/* Kevin Css Edits */
.spacer-100
{
    height: 100px;
    width: 100%;
}

.spacer-50
{
    height: 50px;
    width: 100%;
}

.spacer-20
{
    height: 20px;
    width: 100%;
}

.height-150
{
    max-height: 150px;
}
.dial
{
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
}
.graph
{
    height: 100%;
}
canvas
{
    max-height: 100%;
    max-width: 100%;
}
h4
{
    font-style: italic;
}
#dashboard, #form-workout, #fitness, #health, #nutrition, #form-nutrition, #about, #shop, #workouts, #workout
{
    padding: 25px;
    color: #343a40;
    background-color: #f2f2f2;
    margin-bottom: 30px;
}

.nav-link
{
    color: ghostwhite;
}

.nav-tabs .nav-link.active {
    background-color:  #f2f2f2;
}

.nav-link:hover
{
    color: #fdd000;
}

.nav-tabs
{
    background-color: #4e555b;
}

/****** OVERRIDE LOGOUT DIV **************/
.dropdown-menu
{
    min-width: 30px;
}

#banner-advertisement {
    margin: 0 auto;
    background: #000000 url("http://via.placeholder.com/1000x200") no-repeat center top;
    height: 200px;
}

#bruce-lee-story {
    background-color: #000000;
}

#bruce-lee-story p {
    color: #ffffff;
}

.avatar {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.feed {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #000000;
}

.feed-tabs {
    padding-bottom: 20px;
}

.feed a {
    color: #4e555b;
}

.feed-text {
    margin-top: 20px;
}

.share-wrapper {
    padding: 5px 30px;
}

#input_feed_text {
    margin-top: 20px;
}

.share {
    border: 1px solid #000000;
}

.product {
    padding: 30px;
}

.check-box {
    float: left;
    margin-right: 15px;
    margin-top: 6px;
}

input[type="checkbox"][readonly], .label_readonly {
    pointer-events: none;
}

.event-img {
    margin: 10px 0;
}

.check-box-table {
    width: 100%;
}

.fitness-category  a{
    text-decoration: none;
    color: #4e555b;
    font-size: 2em;
    font-weight: bold;
}

#workout {
    padding-top: 50px;
}

#workout ul {
    margin-top: 20px;
}

#workout ul li {
    list-style: none;
}

.workout-list-item {
    border-top: 1px solid #1b1e21;
    padding: 15px 0;
}

#workout-video {
    margin: auto;
}

#omg-404 {
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

/* Container holding the image and the text */
.img-container {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.img-centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.breadcrumb {
    border-radius: 0;
    background-color:  #f2f2f2;
    margin-left: 1px;
    margin-right: 1px;
}